.banner {
  padding-bottom: 80px;
}
.banner__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 48px;
}
.banner__item__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #36536b;
  margin-bottom: 16px;
  &::before {
    content: "";
    position: absolute;
    width: 106px;
    height: 106px;
    background-repeat: no-repeat;
    background-image: url(../../img/banner_img.svg);
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  }
}
.banner__item__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #6c8294;
  text-align: center;
}
.banner__item {
  padding-top: 140px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .banner__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .banner {
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1440px) {
    .banner__list {
      gap: 30px;
    }
    .banner {
      padding-bottom: 98px;
    }
  }
}
